*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
.top img{   /*For Main Logo */
    width: 10%;
    display : flex;

}
.menus{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: 100;
}
.color{
    background-color:#ffd6d6 ;  
}
ul img{ /* For Cart BAG LOGO*/
    width: 10%;
}
.menus a:hover{
    color: orange;
}
.menus ul{  /*For Menus*/
    display: flex;
    justify-content: space-around;
    width: 60%;
    list-style-type: none;    
    font-weight: 400;

}

.menus a{   /*For Menus*/
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
  
}
/*background: radialGradient(#fff,#ffd6d6);*/
.Intro{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.no2{
    flex-basis: 50%;
    min-width: 300px;
}
.no2 img{
    max-width: 100%;
    padding-left: 400px;
    position: relative;
    top: -300px;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
}
.Categories img{
  
    margin: 60px;
    border-radius: 200px;
    width: 20%;
}
.Categories{

    padding-right: 35px;
    background-color: white;
}
.Dhoni img{
    max-width: 90%;
    position: relative;
    top: 100px;
    left: -500px;
}
.Cricket a{
    text-decoration: none;
    color: black;
    font-size: 25px;

}
.SportsTypes h1{
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 20px;
}
.Cricket a:hover{
    color:orange;
}
.Categories{
    display: flex;
    color:black;
}
.Categories h1{
    position: relative;
    left: -300px;
}
.Categories a:hover{

    color: orangered;
}
.Categories a{
    text-decoration: none;
}
.Cricket{
    display: flex;
    position: relative;
    padding-top: 200px;
}
.Cricket img{
    width: 40%;
    height:70%  
}
.Cricket li{
    list-style-type: none;
}
.SportsTypes{
    position: relative;
    left: -7%;
}
body{
    min-width: px;
}